
<button id="invisibleManager" #modal data-modal-toggle="playerDisplay">invisible Manager</button>

<div id="playerDisplay" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div id="bodyText" class="relative w-full max-w-2xl max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">

            <!-- Modal body -->
            <div class="p-6 grid grid-cols-4 grid-flow-col gap-0">
                <img id="image" class="col-span-1 w-full rounded-lg bg-purple-100 p-3 scale-125 my-11 py-11" src="{{image}}" alt="office content 1">
                <div class="col-span-3">
                    <h3 class="text-xl font-semibold text-gray-900 dark:text-white" #header>
                        {{header}}
                    </h3>
                    <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400" #body>
                        {{body}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>