#logo {
    transform: scale(1.3);
    animation: logo 2s ease-in-out infinite alternate;

    @keyframes logo {
        from {
            transform: scale(1.3);
        }
        to {
            transform: scale(1.5);
        }
    }
}

#dc-logo {
    transform: scale(1.5);
}

#darkmode-moon {
    transform: scale(1.5);
}

#navbar {
}

