 <section class="bg-white dark:bg-gray-900">
    <div class="grid max-w-screen-xl px-4 py-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12">
        <div class="mr-auto place-self-center lg:col-span-7">
            <h1 class="max-w-2xl mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl dark:text-white">Serwer Roleplay na miarę Twoich oczekiwań!</h1>
            <p class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400">Arro.gg to miejsce, w którym Twoje marzenia o życiu w wirtualnym świecie stają się rzeczywistością. Nasz serwer Roleplay oferuje Ci unikalną okazję, aby wcielić się w postać, którą zawsze chciałeś być. Niezależnie od tego, czy chcesz być biznesmenem, policjantem, czy też kryminalistą, na Arro.gg znajdziesz swoje miejsce.</p>
            <a href="https://drive.google.com/file/d/1ilVtF-zLBDSB3maPoVQ7qmz8oLWcbdBG/view" target="_blank" class="inline-flex items-center justify-center px-5 py-3 mr-3 text-base font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:focus:ring-primary-900">
                Regulamin
                <svg class="w-5 h-5 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            </a>
            <a href="https://discord.gg/arro" target="_blank" class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-gray-900 border border-gray-300 rounded-lg hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 dark:text-white dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:ring-gray-800">
                Dołącz
            </a> 
        </div>
        <div class="hidden lg:mt-0 lg:col-span-5 lg:flex">
            <img id="mainImg" class="rounded-lg" src="../../assets/img/persons/steven.png" alt="mockup">
        </div>                
    </div>
</section>

<section class="bg-white dark:bg-gray-900 pb-11">
    <div class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6">
        <div class="font-light text-gray-500 sm:text-lg dark:text-gray-400">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Dlaczego warto dołączyć do naszego serwera?</h2>
            <p class="mb-4">Arro.gg to nie tylko kolejny serwer Roleplay. To miejsce, w którym zadbamy o każdy aspekt Twojego doświadczenia w grze. Nasza społeczność to ludzie, którzy kochają Roleplay i wiedzą, jak go tworzyć.</p>
            <p>Nasz zespół administracji to osoby z pasją, które służą pomocą i wsparciem 24/7. Ponadto, na naszym serwerze znajdziesz unikalne rozwiązania technologiczne, które sprawiają, że Arro.gg to miejsce, w którym Roleplay nabiera nowego wymiaru.</p>
        </div>
        <div>
            <video class="w-full rounded-lg" controls>
                <source src="https://cdn.discordapp.com/attachments/1085248016744730645/1096699373049610250/Projekt_138.mp4" type="video/mp4">
                Your browser does not support the video tag.
             </video>
        </div>
    </div>
</section>

<section id="team" class="bg-white dark:bg-gray-900 pt-11">
    <!--text center header-->
    <h2 class="mb-4 text-4xl tracking-tight font-extrabold pb-11 text-gray-900 dark:text-white text-center lg:pb-0">Team</h2>
    <div id="imagesParent" class="gap-16 items-center pt-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:pt-16 lg:px-6">
        <div class="grid grid-cols-2 gap-4 mt-8">
            <div (click)="callModal('devteam')" id="personCategory">
                <img  class="w-full rounded-lg bg-purple-100 p-3 scale-125" src="../../assets/img/persons/Daco_1297441.png" alt="office content 1">
            </div>
            <div (click)="callModal('management')" id="personCategory">
                <img  class="mt-4 w-full lg:mt-10 rounded-lg bg-blue-100 p-3" src="../../assets/img/persons/Daco_1297818.png" alt="office content 2">
            </div>
        </div>
        <div class="grid grid-cols-2 gap-4 mt-8">
            <div (click)="callModal('adminteam')" id="personCategory">
                <img  class="w-11/12 rounded-lg bg-red-100 p-3" src="../../assets/img/persons/Daco_1309529.png" alt="office content 1">
            </div>
            <div (click)="callModal('supportteam')" id="personCategory">
                <img  class="mt-4 w-full lg:mt-10 rounded-lg bg-yellow-100 p-3" src="../../assets/img/persons/Daco_5635962.png" alt="office content 2">
            </div>
        </div>
    </div>

    <div id="imagesParent" class="gap-16 items-center pb-11 px-4 mx-auto hidden max-w-screen-xl lg:grid lg:grid-cols-4 lg:px-6">
        <p id="classesText" class="text-white dark:text-black">
            Developers
        </p>
        <p id="classesText" class="text-white dark:text-black">
            Management
        </p>
        <p id="classesText" class="text-white dark:text-black">
            Administration
        </p>
        <p id="classesText" class="text-white dark:text-black">
            Support
        </p>
    </div>
</section>

<section class="bg-white dark:bg-gray-900">
    <div class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6">
        <div>
            <video class="w-full rounded-lg" controls>
                <source src="https://cdn.discordapp.com/attachments/1085248016744730645/1096704963297681508/ARRO.GG_trailer_by_pieczara_2.mp4" type="video/mp4">
                Your browser does not support the video tag.
             </video>
        </div>
        
        <div class="font-light text-gray-500 sm:text-lg dark:text-gray-400">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Co oferujemy?</h2>
            <p class="mb-4">nasz serwer Roleplay oferuje rozbudowany system ekonomiczny, w którym możesz budować swoje imperium. Otwarty i przyjazny dla nowych graczy serwer, na którym zawsze znajdziesz wsparcie od społeczności i administracji. Stabilny i szybki serwer zapewnia Ci płynną rozgrywkę bez żadnych lagów czy bugów.</p>
            <p>Arro.gg to miejsce, w którym Roleplay nabiera nowego znaczenia dzięki unikalnym rozwiązaniom technologicznym. Dajemy Ci możliwość rozwoju swojej postaci i budowania relacji z innymi graczami na zupełnie nowym poziomie. Dołącz do nas i zacznij swoją przygodę z Roleplayem już dziś!</p>
        </div>
    </div>
</section>


  <div id="defaultModal" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
      <div class="relative w-full max-w-2xl max-h-full">
          <!-- Modal content -->
          <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
              <!-- Modal header -->
              <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
                  <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                      Kontakt
                  </h3>
                  <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="defaultModal">
                      <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                      <span class="sr-only">Close modal</span>
                  </button>
              </div>
              <!-- Modal body -->
              <div class="p-6 space-y-6">
                  <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                      W celu kontaktu, skorzystaj z tego Adresu E-mail, lub skontaktuj się z nami poprzez nasz serwer Discord.
                  </p>
                  <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                      Email: kontakt@arro.gg
                  </p>
              </div>
              <!-- Modal footer -->
              <div class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">
                  <button data-modal-hide="defaultModal" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">OK</button>
                  <!--<button data-modal-hide="defaultModal" type="button" class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">Decline</button>-->
              </div>
          </div>
      </div>
  </div>

<app-modal></app-modal>